<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-matches">
                <div class="card-header">
                    <h5 class="card-title">Total Matches</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{ match.count }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="wins">
                <div class="card-header">
                    <h5 class="card-title">Wins</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">2</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="lost">
                <div class="card-header">
                    <h5 class="card-title">Lost</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">1</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
     #total-matches{
        background-color: slategray;
     }
    #wins{
        background-color: #32CD32;
    }
    #lost{
        background-color: #CD5C5C;
    }
    .disable{
        pointer: disable;
    }
</style>